.index_bg,
.admin_bg {
    background-color: #F0F4F6;
}

.r-16 {
    border-radius: 16px;
}

.r-24 {
    border-radius: 24px;
}

.r-99 {
    border-radius: 99px;
}

.mt-100 {
    margin-top: 100px;
}

.clock_status {
    padding: 0px 6px 0px 6px;
    border-radius: 6px;
    font-weight: 500;
    font-family: "Roboto Mono", serif;

    &_ontime {
        color: $primary;
        background-color: #D3F0CA;
    }

    &_delay {
        color: $warning;
        background-color: #F3DEDE;
    }
}

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

.btn {
    font-size: 20px;
    padding: 14px 24px 14px 24px;
}

.btn_outline_default:hover {
    background-color: #b9dbae;
    border: 2px solid $primary;
}

.btn_outline_disabled:hover {
    color: $gray-500;
    background-color: $gray-200;
    border: 2px solid $gray-500;
}

.btn_outline {

    &_default {
        border: 2px solid $primary;
        background-color: #D3F0CA;
    }

    &_disabled {
        color: $gray-500;
        background-color: $gray-200;
        border: 2px solid $gray-500;
    }
}

.modal {

    &-content {
        background-color: #ffffffb4;
        backdrop-filter: blur(10px);
    }
}

.toast {
    width: 550px;
    border: none;
    border-radius: 16px;

    &-header {
        border-radius: 16px 16px 0px 0px;
    }

    &-body {
        border-radius: 16px;
    }
}

.summary-box {
    background: #f8f9fa;
    padding: 32px 48px 32px 32px;
    border: 2px solid black;
}

.status {
    &-normal {
        background-color: #D3F0CA;
        padding: 2px 10px 2px 10px;
        border-radius: 16px;
        color: $primary;

        &::before {
            content: "";
            display: inline-block;
            background-color: $primary;
            border-radius: 99px;
            width: 10px;
            height: 10px;
            margin-right: 4px;
        }
    }

    &-abnormal {
        background-color: #F3DEDE;
        padding: 2px 10px 2px 10px;
        border-radius: 16px;
        color: $warning;

        &::before {
            content: "";
            display: inline-block;
            background-color: $warning;
            border-radius: 99px;
            width: 10px;
            height: 10px;
            margin-right: 4px;
        }
    }


}

.table {
    margin-bottom: 0;
}



.form-control {
    background: #D3D3D3;
}

.border_2px {
    border: 2px solid black;
}

/* 篩選按鈕樣式 */
.filter-btn {
    border: 2px solid #000;
    border-radius: 50px;
    padding: 4px 16px;
    background-color: #ffffff4d;
    color: #000;
    font-weight: 500;
}

.filter-btn.active {
    border-color: #f00;
    color: #f00;
    background-color: #F3DEDE;
}

/* 下拉選單圓角 */
.custom-select {
    border-radius: 50px;
    padding: 8px 16px;
}

/* 確認按鈕樣式 */
.confirm-btn {
    border: 2px solid #000;
    border-radius: 50px;
    background-color: #fff;
    font-weight: bold;
    font-size: 1.25rem;

    &:hover {
        background-color: #e6e2e2;
        border: 2px solid #000;
    }
}

/* Modal 圓角與陰影 */
.modal-content {
    border-radius: 1.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}



// admin filtered badge 
.filter-btn:hover,
.filter-btn.active:hover {
    background-color: #F3DEDE;
    border: 2px solid #E12222;
    color: #E12222;
}


//filter badge
.filter_chip {
    background-color: #D3F0CA;
    border: 2px $primary solid;
}

.bi-x-circle {
    background-color: #fff;
    border-radius: 99px;
}